<i class="fw fw-bookmark"></i>
<span id="main-bookmark" data-processing=" Installing..." data-success="Successfully installed the application" data-error="Failed to install this application!">
{{t "Install"}}
<span class="sub-bookmark"></span>
</span>
