<i class="fa fa-star"></i>
<span id="main-bookmark" data-processing=" Uninstalling..." data-success="Successfully uninstalled the application" data-error="Failed to uninstall the application!">
{{t "Installed"}}
<span class="sub-bookmark"></span>
</span>